* {
  margin: 0;
  padding: 0;
}
:root {
  box-sizing: border-box;
  /* overflow-y: hidden; */
}
body {
  font-family: "Work Sans", sans-serif;
}

/* Styles for small devices (e.g., smartphones) */
@media (max-width: 480px) {
  body {
    padding: 0 20px;
  }
  nav {
    box-shadow: none;
  }
  .navbar {
    gap: 50px;
  }
  .navbar,
  .nav_item ul {
    flex-direction: column;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .banner_image img {
    width: 100%;
  }
  .shape {
    background-image: none;
  }
  .banner_content {
    /* margin: 0 auto; */
    padding: 20px;
    background-image: url(/images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* gamer section  */
  .gamer_section{
    background: #fff;
    margin-top: 100px;
  }
  .gamer{
    flex-direction: column;
  }
  .gamer_img img{
    width: 100%;
  }
  .gamer_content{
    text-align: center;
  }
  
  .mini_para{
    margin-top: 80px;
  }
  /* videos  */
  .videos{
    flex-direction: column;
    margin: 0 auto;
  }
}

/* Styles for medium devices (e.g., larger smartphones, small tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 40px;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 50px;
  }
  nav {
    box-shadow: none;
  }
  /* gamer section  */
  .gamer_section{
    background: #fff;
    margin-top: 100px;
  }
  .gamer{
    flex-direction: column;
  }
  .gamer_img img{
    width: 100%;
  }
  .gamer_content{
    text-align: center;
  }
  .mini_para{
    margin-top: 80px;
  }
  .gamer_para{
    width: 520px;
  }
  /* videos */
  .videos{
    flex-direction: column;
    text-align: center;
  }
 
}
