* {
  margin: 0;
  padding: 0;
}
:root {
  box-sizing: border-box;
  /* overflow-y: hidden; */
}
body {
  font-family: "Work Sans", sans-serif;
}

/* Styles for small devices (e.g., smartphones) */
@media (max-width: 480px) {
  body {
    padding: 0 20px;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  nav {
    box-shadow: none;
  }
  .navbar {
    gap: 50px;
  }
  .navbar,
  .nav_item ul {
    flex-direction: column;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .banner_image img {
    width: 100%;
  }
  .shape {
    background-image: none;
  }
  .banner_content {
    /* margin: 0 auto; */
    padding: 20px;
    background-image: url(/images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* gamer section  */
  .gamer_section {
    background: #fff;
    margin-top: 100px;
  }
  .gamer {
    flex-direction: column;
  }
  .gamer_img img {
    width: 100%;
  }
  .gamer_content {
    text-align: center;
  }

  .mini_para {
    margin-top: 80px;
  }
  /* videos  */
  .videos {
    flex-direction: column;
    margin: 0 auto;
  }
  /* paly game section */
  .download {
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  .play_game {
    flex-direction: column;
    margin: 0 auto;
  }
  .paly_game_content {
    padding-top: 150px;
    text-align: center;
  }
  .mobile_res {
    width: 100%;
    text-align: center;
  }
  .play_game_card{
    bottom: -68px;
    right: 20px;
   
  }
  .mini_card {
    width: 30%;
  }
  .card img {
    width: 100px;
  }
  /* services */
  .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}

/* Styles for medium devices (e.g., larger smartphones, small tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 40px;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 50px;
  }
  nav {
    box-shadow: none;
  }
  /* gamer section  */
  .gamer_section {
    background: #fff;
    margin-top: 100px;
  }
  .gamer {
    flex-direction: column;
  }
  .gamer_img img {
    width: 100%;
  }
  .gamer_content {
    text-align: center;
  }
  .mini_para {
    margin-top: 80px;
  }

  /* videos */
  .videos {
    flex-direction: column;
    text-align: center;
  }
  /* paly game */
  .play_game {
    flex-direction: column-reverse;
    margin: 0 auto;
    text-align: center;
  }
  

.play_game_card {
    padding: 0;
    margin: 0;
    /* width: 100%; */
    position: absolute;
    bottom: -161px;
    left: -210px;
}
  .mobile_res {
    padding-top: 50px;
    width: 90%;
    text-align: center;
  }
  .mini_card {
    width: 50%;
  }
  .services {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: start;
  }
}
