* {
  margin: 0;
  padding: 0;
}
:root {
  box-sizing: border-box;

  --primary-color: #ff42a5;
  --secondary-color: rgba(249, 72, 178, 1), rgba(135, 88, 241, 1);
  --optional-color: #4ec5f7;
}
body {
  font-family: "Work Sans", sans-serif;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
/* useful classes */
.primary_btn {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 15px 30px;
  border: none;
  cursor: pointer;
}
.secondary_btn {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  background: var(--optional-color);
  padding: 15px 30px;
  border: none;
  cursor: pointer;
}
/* navbar css start */
nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.title {
  color: #0b0223;
  font-family: "Work Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.title_logo {
  color: var(--primary-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_item ul {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.nav_item ul li {
  list-style-type: none;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.nav_item ul li a {
  text-decoration: none;
  color: #3c354f;
}
.nav_item button {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
}
.fa-brands {
  font-size: 24px;
}
.fa-youtube {
  color: #f61c0d;
  padding: 0 10px;
}
/* navbar css end */
/* banner css start */
.shape {
  background-image: url(/images/Group\ 14.png);
  background-repeat: no-repeat;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_subtitle {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
}
.banner_title {
    padding: 24px 0;
  font-family: Work Sans;
  font-size: 95px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner_para2{
    padding: 17px 0;
}
.banner_para {
  color: #534c64;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  display: flex;
  gap: 12px;
}
.button_group{
    margin-top: 40px;
    display: flex;
    gap: 25px;
}
.article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}
/* banner css end */
