* {
  margin: 0;
  padding: 0;
}
:root {
  box-sizing: border-box;

  --primary-color: #ff42a5;
  --secondary-color: rgba(249, 72, 178, 1), rgba(135, 88, 241, 1);
  --optional-color: #4ec5f7;
}
body {
  font-family: "Work Sans", sans-serif;
}
.gamer_section {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
section {
  margin-top: 120px;
}
.navbar,
.banner,
.gamer,
.videos,
.play_game,
.services_section, .footer{
  max-width: 1440px;
  margin: 0 auto;
}
/* useful classes */
.primary_btn {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 15px 30px;
  border: none;
  cursor: pointer;
}
.secondary_btn {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  background: var(--optional-color);
  padding: 15px 30px;
  border: none;
  cursor: pointer;
}
.section_tile {
  font-family: "Work Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section_para {
  color: #534c64;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
/* navbar css start */
nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.title {
  color: #0b0223;
  font-family: "Work Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.title_logo {
  color: var(--primary-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_item ul {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.nav_item ul li {
  list-style-type: none;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.nav_item ul li a {
  text-decoration: none;
  color: #3c354f;
}
.nav_item button {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
}
.fa-brands {
  font-size: 24px;
}
.fa-youtube {
  color: #f61c0d;
  padding: 0 10px;
}
/* navbar css end */
/* banner css start */
.shape {
  background-image: url(/images/Group\ 14.png);
  background-repeat: no-repeat;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_subtitle {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
}
.banner_title {
  padding: 24px 0;
  font-family: Work Sans;
  font-size: 95px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner_para2 {
  padding: 17px 0;
}
.banner_para {
  color: #534c64;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  display: flex;
  gap: 12px;
}
.button_group {
  margin-top: 40px;
  display: flex;
  gap: 25px;
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}
/* banner css end */
/* gamer css start */
.gamer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gamer_content {
  text-align: right;
}
.gamer_para {
  padding: 24px 0;
}
.mini_para {
  padding: 10px 0;
  color: #534c64;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.section_footer_title {
  color: #302e34;
  font-family: "Work Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
/* gamer css end */
/* videos css start */
.videos {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 24px;
}
.video_container {
  position: relative;
  transition: 0.1sec;
  transition: 0.1sec ease-in-out;
}
.video_container:hover {
  transition: 0.1sec ease-in-out;
  border: 3px solid var(--primary-color);
  border-radius: 20px;
  border-bottom-width: 15px;
  .play {
    visibility: visible;
    transition: 0.1sec;
  }
}
/* .video_container img{
  background-size: cover;
} */
.video_container img:hover {
  opacity: 0.44;
  transition: 0.1sec ease-in-out;
}
.play {
  position: absolute;
  top: 45%;
  right: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
}
.fa-play {
  margin-bottom: 10px;
  font-size: 28px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px;
  color: var(--primary-color);
}
.play span {
  font-size: 20px;
  color: var(--primary-color);
}
.videos_title {
  text-align: center;
}
.videos_subtitle {
  padding: 16px 0 48px 0;
}
.card_title {
  color: #534c64;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-top: 24px;
}
/* videos css end */
/* play game content css start*/
.play_game {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play_game_content {
  text-align: start;
}
.play_game_img {
  position: relative;
}
.play_game_card {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: -88px;
  right: -486px;
}
/* play game content css end*/
/* services css start */
.services_section {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.services {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.services_btn {
  border: none;
  color: #0b0223;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 50px;
  background: #fff;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  
}
/* services css end */
/* footer start */
footer{
  background-color: #0B0223;
}
.footer{
  padding: 50px;
}
.footer_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer_title{
  color: #FFF;
  font-family: "Work Sans", sans-serif;;
font-size: 45px;

font-weight: 700;

  color: var(--primary-color);
}
.footer_subtitle{
  color: whitesmoke;
}
/* footer end */
